# Use a serial port
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y

# Check for external init ramdisk
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y

# Make it understand ELF binaries
CONFIG_BINFMT_ELF=y

# Enable ACPI
CONFIG_ACPI=y

# Enable UEFI
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFIVAR_FS=y
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="console=ttyS0 loglevel=7"

# Embed initramfs in kernel
CONFIG_INITRAMFS_SOURCE="../../etc/initramfs"

# Enable networking
CONFIG_PCI=y
CONFIG_ETHERNET=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_NETDEVICES=y

CONFIG_NET_VENDOR_INTEL=y
CONFIG_E1000=y
